.theme-switch.selected {
    background-image: var(--brand-gradient-surface-primary);
    color: var(--color-text-primary);
}

:root{
    --text-color-btn:var(--color-ui-white);
}

.ltds-btn{
    position: relative;
    --btn-gradient-hover:linear-gradient(to bottom,oklch(from var(--brand-primary) calc(l*.9) c h / .92),oklch(from var(--brand-primary) calc(l*.6) c h / .8))
}

.ltds-btn--sm{
    padding-inline: var(--size-3);
}