[class^="lt-icon-"] {
    color: currentColor;
}

i[class^="lt-icon-"].lt-icon-style-solid:before, i[class*=" lt-icon-"].lt-icon-style-solid:before{
    font-weight: bold!important;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::before{
        font-size: var(--tfs-4);
    }
}

.icon.icon-size-sm::before{
    font-size: var(--tfs-3);
}

.icon.icon-size-lg::before{
    font-size: var(--tfs-4);
}

.icon.icon-size-xl::before{
    font-size: var(--tfs-5);
}

@media screen and (max-width: 768px) {

    .icon.icon-size-mob-sm::before{
        font-size: var(--tfs-4);
    }
    
    .icon.icon-size-mob-lg::before{
        font-size: var(--tfs-5);
    }

    .icon.icon-size-mob-xl::before{
        font-size: var(--tfs-6);
    }

}