.ltds-menu-item{
    --item-padding-inline: var(--size-2);
    --item-line-height: var(--size-8);
    padding-inline: var(--item-padding-inline);
    line-height: var(--item-line-height);
    display: flex;
    align-items: center;
    gap: var(--size-2);
    cursor: pointer;
    list-style-type: none;
    text-transform: capitalize;
}

.ltds-menu-item:hover{
    background-color: var(--brand-primary-opacity-10);
    color: var(--brand-primary);
}