/* custom scrollbar  */


::-webkit-scrollbar-thumb {
    background-color: var(--brand-primary-opacity-40);
    /* border-radius: var(--radii-2); */
}

::-webkit-scrollbar-thumb:hover {
    /* background-color: var(--brand-primary-opacity-40); */
    background-color: var(--color-info-active);
}

::-webkit-scrollbar-track {
    background-color: var(--brand-primary-opacity-20);
    background-clip: content-box; /* important : fait que le bg ne déborde pas */
}

::-webkit-scrollbar {
    width: var(--size-2);
    /* height: var(--size-3); */
}