.ltds-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
}

.ltds-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ltds-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-border);
    border-radius: 26px;
    transition: .4s;
}

.ltds-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: var(--surface-container);
    /* border: 1px solid var(--color-border); */
    border-radius: 50%;
    transition: .4s;
}

.ltds-switch input:checked+.slider {
    background-color: var(--brand-primary);
}

.ltds-switch input:checked+.slider:before {
    transform: translateX(18px);
    background-color: var(--surface-container);
}