:root{
    /* --font-family-accent: "Oswald", var(--font-family-base); */
    /* --font-family-accent: "Work Sans", var(--font-family-base); */
    --font-family-accent: "Mona Sans", var(--font-family-base);
    --font-family-alt: "Oswald", var(--font-family-base);
    --color-text-primary:var(--color-ui-white-opacity-80);
}


h1,h2,h3,h4{
    font-family: var(--font-family-accent);
    font-weight: var(--font-weight-semibold);
}

blockquote{
    border-left: 2px solid var(--brand-primary-opacity-40);
    padding-left: var(--size-6);
    font-style: italic;
    font-weight: 300;
}