/* ================================
   LT PAGE LAYOUT
   ================================ */

.lt-page {
  padding-block: var(--size-8);
  padding-inline: var(--size-6);
  display: flex;
  justify-content: center;
}

.lt-page{
    /* Cadre de base */
    > .lt-frame {
        background-color: var(--color-primary-opacity-10);
        width: 100%;
        max-width: 100ch; /* par défaut : lecture confortable */
        display: flex;
        flex-direction: column;
        gap: var(--size-4);
        padding: var(--size-6);
        border: 1px solid var(--color-border);
        border-radius: var(--radii-3);
    }
    
    /* Variantes de largeur */
    .lt-frame--narrow {
      max-width: 108ch; /* idéal pour de la doc textuelle */
    }
    
    .lt-frame--wide {
      max-width: 1200px; /* idéal pour des grilles / composants visuels */
    }
}

.lt-page .lt-frame--fantasy {
  position: relative;
  overflow: hidden;

  background:
    url(/assets/textures/fabric-dark.png),
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    radial-gradient(circle at 20% 20%, var(--brand-primary-opacity-20), transparent 70%),
    radial-gradient(circle at 80% 90%, var(--color-info-opacity-10), transparent 60%),
    linear-gradient(180deg, var(--brand-primary-opacity-20) 0%, var(--brand-primary-opacity-10) 100%);
  background-blend-mode: overlay, multiply, normal;
  opacity: 0.98; /* léger voile */
}

@media screen and (max-width: 768px) {

    .lt-page{
        > .lt-frame {
            padding: var(--size-4);
        }
    }

    .u-container{
        font-size: var(--font-size-1);
    }

}