/* ================================
   LT PAGE LAYOUT
   ================================ */

.lt-page {
  padding-block: var(--size-8);
  padding-inline: var(--size-6);
  display: flex;
  justify-content: center;
}

.lt-page{
    /* Cadre de base */
    > .lt-frame {
        background-color: var(--color-primary-opacity-10);
        width: 100%;
        max-width: 100ch; /* par défaut : lecture confortable */
        display: flex;
        flex-direction: column;
        gap: var(--size-4);
        padding: var(--size-6);
        border: 1px solid var(--color-border);
        border-radius: var(--radii-3);
    }
    
    /* Variantes de largeur */
    .lt-frame--narrow {
      max-width: 108ch; /* idéal pour de la doc textuelle */
    }
    
    .lt-frame--wide {
      max-width: 1200px; /* idéal pour des grilles / composants visuels */
    }
}

.lt-page .lt-frame--fantasy {
  position: relative;
  overflow: hidden;
  border:1px solid var(--brand-primary-opacity-40);
  border-radius:var(--radii-5);
  padding: 8px;
  background-color: var(--surface-container);
}


.lt-page .lt-frame--fantasy .lt-frame-content{
  border-radius: calc(var(--radii-5) - 8px);
  padding:16px;
  background-blend-mode: overlay;
  background-size: auto;
  /* background-image:linear-gradient(180deg,var(--brand-primary-opacity-20), var(--brand-primary-opacity-20), var(--brand-primary-opacity-10)); */
  /* background-image:var(--brand-gradient-surface-overlay); */
  background:
    /* radial-gradient(circle at 40% 20%, var(--color-ui-white-opacity-20), transparent 70%), */
    radial-gradient(circle at 40% 90%, var(--color-ui-white-opacity-20), transparent 60%),
    linear-gradient(180deg, var(--brand-primary-opacity-40), var(--brand-primary-opacity-40));
  &::before,
  &::after{
    content: "";
    position: absolute;
    inset-inline: 0;
    inset-block: 0;
    height:1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 5%, var(--brand-primary-opacity-10) 20%, var(--brand-primary) 50%, var(--brand-primary-opacity-10) 80%, rgba(0, 0, 0, 0) 95%);
  }
  &::after{
    top: calc(100% - 1px);
  }
}

@media screen and (max-width: 768px) {

    .lt-page{
        > .lt-frame {
            padding: var(--size-4);
        }
    }

    .lt-page .lt-frame--fantasy{
      padding:6px;
      border-color: var(--brand-primary-opacity-20);
      .lt-frame-content{
        padding: 12px;
      }
    }

    .u-container{
        font-size: var(--tfs-1);
    }

}