/* navbar par défaut */
#menu-nav {
    /* position: relative; */
    position: sticky;
    transition: all 0.3s ease;
    isolation: isolate;   /* crée un nouveau stacking context propre à la navbar */
    z-index: 999;
}

#page-logotype svg{
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
}

/* une fois scrolled */
#menu-nav.scrolled {
    top: 0;
    background: var(--surface-container);
    /* background: var(--color-ui-white-opacity-10); */
    /* backdrop-filter: blur(2px); */
    z-index: 1000;        /* au-dessus du contenu */
    /* border-bottom: 1px solid var(--color-border); */
    #page-logotype svg{
        width: 40px;
        height: 40px;
    }

}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-4);
    /* background-color:var(--brand-primary-opacity-4); */
}

.navbar a {
    text-underline-offset: 8px;
    transition: var(--transition-ease);
}
