.table{
    --table-head-bg-color: var(--brand-primary-opacity-40);
    --table-collapse: collapse;
    width: 100%;
    border-collapse: var(--table-collapse);
}

.table thead{
    background-color: var(--table-head-bg-color);
}

.table thead th{
    font-weight: unset;
}

.table th,
.table td{
    padding: var(--size-2);
    border-bottom: 1px solid var(--color-border-primary-20);  
}

.table td .u-text-clamp *{
    font-size: var(--tfs-1)!important;
    line-height: normal !important;
}

.table tr:nth-of-type(even){ 
    background-color: var(--color-primary-opacity-10);
}

@media screen and (max-width: 768px) {

    .table th,
    .table td{
        padding: var(--size-1);
        font-size: var(--tfs-1);
    }

}