/* TYPOGRAPHY */

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik/static/Rubik-SemiBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald/static/Oswald-SemiBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Mona Sans";
    src: url("/fonts/Mona_Sans/static/MonaSans-Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: 800;
}

/* DEBUG OVERWRITE  */

:root{
    --font-family-accent: "Oswald", var(--font-family-base);
}



h1,h2,h3{
    font-family: var(--font-family-accent);
    font-weight: var(--font-weight-semibold);
}

#page-title{
    /* #6A028C */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--brand-primary-active);
    letter-spacing:1px; 
    color: transparent;
}

/* CAROUSEL  */

.demo-chip{
    padding: var(--size-2);
}



@keyframes expand{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}


/* ================================
   LT PAGE LAYOUT
   ================================ */

.lt-page {
  padding-block: var(--size-8);
  padding-inline: var(--size-6);
  display: flex;
  justify-content: center;
}

.lt-page{
    /* Cadre de base */
    > .lt-frame {
        background-color: var(--color-primary-opacity-10);
        width: 100%;
        max-width: 100ch; /* par défaut : lecture confortable */
        display: flex;
        flex-direction: column;
        gap: var(--size-4);
        padding: var(--size-6);
        border: 1px solid var(--color-border);
        border-radius: var(--radii-3);
    }
    
    /* Variantes de largeur */
    .lt-frame--narrow {
      max-width: 108ch; /* idéal pour de la doc textuelle */
    }
    
    .lt-frame--wide {
      max-width: 1200px; /* idéal pour des grilles / composants visuels */
    }
}

@media screen and (max-width: 768px) {

    .lt-page{
        > .lt-frame {
            padding: var(--size-4);
        }
    }

    .u-container{
        font-size: var(--font-size-1);
    }

}

#scrollToTop{
    position: fixed;
    bottom: 4%;
    right: 4%;
}