/* src/css/molecules/ltds-code-block.css */

ltds-code-block {
  position: relative;
  display: block;
}


ltds-code-block pre[class*="language-"] {
  padding: 1rem !important;
  ;
  background: var(--surface-container);
  border: 1px solid var(--color-border);
  border-radius: var(--radii-2);
}

code[class*=language-],
pre[class*=language-] {
  /* font-family: var(--font-family-alt)!important; */
  font-size: var(--tfs-1) !important;
  color: var(--color-text-secondary) !important;
}



@media screen and (max-width: 768px) {

  code[class*=language-],
  pre[class*=language-] {
    font-size: var(--tfs-0) !important;
  }


}


/* Bouton copier */
.ltds-copy-btn {
  position: absolute;
  top: var(--size-2);
  right: var(--size-2);
  transition: background var(--transition-ease), transform var(--transition-ease), border-color var(--transition-ease);
}

.ltds-copy-btn:hover {
  background: var(--brand-primary-opacity-20);
}

.ltds-copy-btn:active {
  transform: scale(0.98);
}

.ltds-copy-btn.is-copied {
  border-color: var(--color-success)!important;
  background: var(--color-success-opacity-20);
  color: var(--color-success)!important;
}