.doc-section {
  /* border-bottom: 1px solid var(--color-border, rgba(255, 255, 255, 0.08)); */
}

.doc-section-title {
  font-family: var(--font-family-accent, sans-serif);
  font-size: var(--font-size-4, 1.25rem);
  font-weight: 500;
  margin-bottom: var(--size-3);
  color: var(--color-text-primary);
}

.doc-section-content {
  color: var(--color-text-secondary);
  font-size: var(--font-size-2, 1rem);
  line-height: 1.6;
}

.doc-section li{
  list-style: square;
  padding-left: 0.75rem;
  margin-left: var(--size-4)
}