@font-face {
    font-family: "icons";
    src: url("./icons.woff?f4e8173949035b00151716531e26254e") format("woff"),
url("./icons.woff2?f4e8173949035b00151716531e26254e") format("woff2");
}

i[class^="lt-icon-"]:before, i[class*=" lt-icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lt-icon-variables:before {
    content: "\f101";
}
.lt-icon-utils:before {
    content: "\f102";
}
.lt-icon-top-arrow:before {
    content: "\f103";
}
.lt-icon-send:before {
    content: "\f104";
}
.lt-icon-search:before {
    content: "\f105";
}
.lt-icon-organisms:before {
    content: "\f106";
}
.lt-icon-molecules:before {
    content: "\f107";
}
.lt-icon-home:before {
    content: "\f108";
}
.lt-icon-font-system:before {
    content: "\f109";
}
.lt-icon-expertise:before {
    content: "\f10a";
}
.lt-icon-error:before {
    content: "\f10b";
}
.lt-icon-download-test:before {
    content: "\f10c";
}
.lt-icon-door-logout:before {
    content: "\f10d";
}
.lt-icon-copy:before {
    content: "\f10e";
}
.lt-icon-close:before {
    content: "\f10f";
}
.lt-icon-check:before {
    content: "\f110";
}
.lt-icon-caret-down:before {
    content: "\f111";
}
.lt-icon-burger:before {
    content: "\f112";
}
.lt-icon-breakpoints:before {
    content: "\f113";
}
.lt-icon-base:before {
    content: "\f114";
}
.lt-icon-back-arrow:before {
    content: "\f115";
}
.lt-icon-atoms:before {
    content: "\f116";
}
.lt-icon-about:before {
    content: "\f117";
}
